/* BASE */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 19vh 1fr 11vh;
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}



/* MEDIA QUERIES ***************************************************************************************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  header.container, footer.container {
    /* max-width: 100vw; */
  }
  /* lägg till lite margin mellan stycken i mobilläge */
  #fl-contact, #fl-description {
    margin-bottom: 3rem;
  } 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}








/* Motverka att texten flyter utanför header */
@media screen and (max-width: 991.98px) and (orientation:landscape) {
  body {
    grid-template-rows: 25vh 1fr 11vh;
  }
   header.container, footer.container {
    max-width: 100vw;
  }
  main.container {
    max-width: 98vw;
  }
 
}















